name: CI

# concurrency:
#   group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
#   cancel-in-progress: true

on:
  push:
  pull_request:
    branches: [ "main" ]
  # schedule:
  #   - cron: '2 1 3 * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

env:
  PACKAGE: polsarpro

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine

      - name: Build the package
        run: |
          python -m build
          python -m twine check dist/*

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: |
            dist/*.tar.gz
            dist/*.whl

  test:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} ${{ matrix.python-version }}
    needs: build
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      # Only necessary if the test code is located outside the package
      - uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Get distribution
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        shell: bash
        run: |
          python -m pip install dist/${PACKAGE}*.whl

      - name: Install test dependencies
        shell: bash
        run: |
          python -m pip install pytest pytest-cov

      - name: Test
        # working-directory: dist
        shell: bash
        run: |
          python -m pytest --cov=${PACKAGE} --cov-report=html --cov-report=term --pyargs ${PACKAGE}
